.main {
  .headers {
    height: 600px;
    background-color: tomato;
  }

  .bottomImage {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 480px;
    background-image: url('https://shop-phinf.pstatic.net/20200504_67/1588583879437rnq1f_PNG/bg_p.png');

    .title {
      color: white;
    }
    .textContainer {
      color: white;
    }
  }
}
