.filters {
  display: flex;

  .filter {
    margin-right: 0.8em;
    color: #888888;

    &::after {
      content: '|';
      margin-left: 0.8em;
    }

    &:last-child::after {
      content: '';
    }

    button {
      background: transparent;
      border: none;
      color: #888888;
      outline: none;
      cursor: pointer;
    }
    &.active {
      &::before {
        content: '\2714';
        color: black;
        font-weight: 700;
      }

      button {
        color: black;
        font-weight: 700;
      }
    }
  }
}
