.productList {
  margin-top: 50px;
  .productListWrapper {
    width: 1200px;
    margin: 0 auto;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0.5em 1.5em 1em;

      h1 {
        font-size: 1.5rem;
      }
    }

    .menus {
      display: flex;
      justify-content: space-between;
      margin: 0 1em;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .none {
        display: block;
        padding: 15em 20em;
        font-size: 1.5em;
      }
    }
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;

    .modalContainer {
      width: 1020px;
      background-color: #fff;

      .closeBtn {
        position: relative;
        left: 1000px;
      }

      .detailCard {
        border: none;
      }
    }
  }
}
