@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}
