@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  opacity: 50%;
  top: 300px;
  transform: translateY(-50%);
  background-color: white;
  z-index: 1;
}

* {
  box-sizing: border-box;
  border: none;
  outline: none;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}
