.tags {
  position: absolute;
  text-align: center;
  line-height: 1.5em;
  font-size: 0.7rem;
  font-style: italic;
  p {
    width: 48px;
    height: 1.5em;
    color: #fff;

    &:first-child {
      background-color: #4eb6dd;
    }

    &:last-child {
      background-color: #b176ce;
    }
  }
}
