.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 250px;
  bottom: 0;

  .footerTitle {
    width: 1200px;
    height: 50px;
    background-color: #fbfcfd;
    text-align: center;
    line-height: 20px;
  }

  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100px;
    font-size: 13px;

    .footerEle {
      width: 350px;
      height: 100px;

      strong {
        font-weight: bold;
      }

      .text {
        margin-top: 20px;
        color: #888888;
        p {
          width: 350px;

          .name {
            font-weight: bold;
          }

          span {
            line-height: 20px;
          }
        }
      }
    }
  }
}
